<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite" parallel="tests" thread-count="4">

    <test verbose="2"  name="Smoke">
        <parameter name="browserName" value="chrome"></parameter>
       <classes>
           <class name="com.sip.SeleniumTests.GridTest"></class>
       </classes>
    </test>

    <test verbose="2" name="Smoke0">
        <parameter name="browserName" value="firefox"></parameter>
        <classes>
            <class name="com.sip.SeleniumTests.GridTest"></class>
        </classes>
    </test>

    <test verbose="2" name="Smoke1">
        <parameter name="browserName" value="safari"></parameter>
        <classes>
            <class name="com.sip.SeleniumTests.GridTest"></class>
        </classes>
    </test>

<!--    <test verbose="2" name="Smoke2">-->
<!--        <parameter name="browserName" value="edge"></parameter>-->
<!--        <classes>-->
<!--            <class name="com.sip.SeleniumTests.GridTest"></class>-->
<!--        </classes>-->
<!--    </test>-->

</suite>